/* Introduction section */

#introduction {
    margin-top: 9vh;
    height: 93vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#introduction h1 {
    color: white;
    background-color: var(--antracite);
    border-radius: 25px;
    filter: brightness(150%);
}

#introduction a {
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white
}

#introduction a:hover svg {
    fill: var(--Corail);
    transform: scale(1.5);
}


/* My Work section */

#work {
    width: 100vw;
    background-color: white;
}


/* My Work section - header */

#work header {
    display: flex;
    padding: 4vh 10vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#work nav {
    display: flex;
    margin: 2vh;
    justify-content: center;
    flex-wrap: wrap;
}

#work nav button {
    margin: 0 4vw;
    padding: 10px;
    border: 0;
    background-color: inherit;
    opacity: 0.66;
}

#work nav button:hover,
#work nav button:focus {
    opacity: 1;
    border-radius: 10px;
    background-color: #2a31331a;
}

#work nav .active {
    opacity: 1;
    font-weight: 600;
}


/* My Work section - links */

#work a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-size: contain;
    color: white;
}

#work a:hover,
#work a:focus {
    filter: brightness(90%);
    background-size: cover;
}

#website {
    color: var(--antracite);
    background-position: bottom;
    background-color: #f0d300;
    background-image: url("../images/website.jpg");
    background-repeat: no-repeat;
}

#website:hover,
#website:focus {
    color: #f0d300;
}

#philia {
    background-position: center;
    background-color: #4b4a48;
    background-image: url("../images/philia.jpg");
    background-repeat: no-repeat;
}

#binairo {
    background-position: center;
    background-color: #3c7c9c;
    background-image: url("../images/Binairo.jpg");
    background-repeat: no-repeat;
}


/* Contact section */

#contact {
    height: 90vh;
    padding: 4vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social-networks {
    margin: 2vh 0;
}

#social-networks img:hover,
#social-networks img:focus {
    border-radius: 20%;
    background-color: #4e4e4d60;
    transition: background-color 0.5s;
}