.logo.complet {
    display: none;
}

.logo.mobile {
    font-size: 2.5em;
    text-decoration: none;
}

#navbar {
    display: none;
}


/* Introduction section */

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../images/Presentation.jpg");
}

#introduction h1 {
    font-weight: 300;
    padding: 6vw;
    margin: 10vw;
}


/* Work section */

#work a {
    height: 100vw;
    width: 100vw;
}