h2 {
    font-size: 2em;
}

h3 {
    font-weight: 800;
    font-size: 1.8em;
    letter-spacing: 0.3em;
}

.logo.complet {
    display: none;
}

.logo.mobile {
    font-size: 2.5em;
    text-decoration: none;
}


/* Banner */

#banner {
    justify-content: space-between;
    align-items: center;
}

#navbar-button {
    z-index: 1020;
}

#navbar-button:after,
#navbar-button:before {
    display: block;
    height: 0.3em;
    width: 2em;
    margin: 0.5em;
    background-color: var(--antracite);
    border-radius: 10%/100%;
    content: '';
    transition: all 0.2s ease-in-out;
}

#navbar-button:hover:before,
#navbar-button:hover:after,
#navbar-button:focus:before,
#navbar-button:focus:after {
    background-color: var(--Corail);
    transform: scale(1.4);
}

#navbar-button.open:before {
    transform: translateY(0.8em) rotate(40deg);
}

#navbar-button.open:hover:before,
#navbar-button.open:focus:before {
    background-color: var(--Corail);
    transform: translateY(0.8em) rotate(40deg) scale(1.4);
}

#navbar-button.open:after {
    transform: rotate(-40deg);
}

#navbar-button.open:hover:after,
#navbar-button.open:focus:after {
    background-color: var(--Corail);
    transform: rotate(-40deg) scale(1.4);
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: var(--indigo);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

#navbar a {
    text-decoration: none;
}

#navbar a:hover,
#navbar a:focus {
    transform: scale(1.2);
}

#navbar a:first-child:after {
    background-color: var(--antracite);
    display: block;
    content: '';
    height: 0.1em;
    width: 2.8em;
    margin: 1vh 0;
    border-radius: 100%;
}


/* Introduction section */

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../images/introduction-small.jpg");
}

#introduction h1 {
    font-size: 1.3em;
    letter-spacing: 0.02em;
    font-weight: 100;
    padding: 6vw;
    margin: 4vh 10vw;
}


/* Work section */

#work a {
    height: 100vw;
    width: 100vw;
}


/* Contact section */

#social-networks img {
    width: 20vw;
}